.home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 180px;
}

.hero .hero__text {
    background-color: black;
    padding: 100px 80px;
    color: white;
    z-index: 11;
}
.hero__lottie {
    max-width: 200px;
    max-height: 150px;
    margin-bottom: -100px;
}

.hero img {
    height: 300px;
    width: 350px;
    object-fit: cover;
    margin-left: -80px;
    z-index: 10;
}

@media screen and (max-width: 550px) {
    .hero {
        display: flex;
        justify-content: center;
        align-items:center;
        margin-top: 60px;
    }
    
    .hero .hero__text {
        background-color: black;
        font-size: 15px;
        padding: 40px 18px;
        color: white;
        z-index: 11;
    }
    .hero__lottie {
        max-width: 200px;
        max-height: 150px;
        margin-bottom: 10px;
    }
    
    .hero img {
        height: 200px;
        width: 200px;
        margin-left: -60px;
        z-index: 10;
    }
}