ul {
    list-style-type: none;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 180px);
    justify-content: center;
    border: 1px solid #a3a3a3;
    padding: 5px;
}

li {
    background-color: rgb(80, 255, 211);
    border-radius: 10px;
    border: 1px solid #2d2d2d57;
    
}

li:hover {
    opacity: 0.6;
}

li img {
    max-height: 150px;
    min-width: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}