section ul {
    list-style-type: none;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 180px);
    justify-content: center;
    padding: 10% 5px 10px;
    margin: 0px;
}

ul li {
    background-color: rgb(191, 255, 239);
    border-radius: 10px;
    border: 1px solid #91919157;
}

ul li:hover {
    opacity: 0.6;
}

ul li img {
    height: 150px;
    width: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

