nav {  
    background-color: rgb(228, 213, 213);    
    margin-bottom: 50px;;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 10px 0px;
}

nav h2 {
    margin-top: 0px;
}

nav ul li a {
    text-decoration: none;
    border-top: 0px;    
}

nav ul {
    list-style-type: none;
    padding: 0px 2px 2px 0px;
    display: flex;
}

nav ul li {
    margin: 8px;
}